@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-primaryColor;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #e9edf2;
  height: 100%;
  width: 100%;
}

/* for input label animation */
input:not(:placeholder-shown) ~ .input-custom-label {
  @apply bg-white text-davyGrey transform -translate-y-[27px] translate-x-1 scale-90 opacity-100;
}
input:focus ~ .input-custom-label {
  @apply bg-white text-primaryColor transform -translate-y-[27px] translate-x-1 scale-90 opacity-100;
}

/* for textarea label animation */
textarea:not(:placeholder-shown) ~ .textarea-custom-label {
  @apply bg-white text-davyGrey transform -translate-y-[20px] translate-x-1 scale-90 opacity-100;
}
textarea:focus ~ .textarea-custom-label {
  @apply bg-white text-primaryColor transform -translate-y-[20px] translate-x-1 scale-90 opacity-100;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.customTransparentScroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.customNormalScroll {
  scrollbar-width: thin;
  scrollbar-color: #5e7799;
}

/* Chrome, Edge, and Safari */
.customTransparentScroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.customNormalScroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.customTransparentScroll::-webkit-scrollbar-track {
  background: transparent;
}

.customNormalScroll::-webkit-scrollbar-track {
  background: #dddddd;
  margin-left: 5px;
  margin-right: 5px;
}

.customTransparentScroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 8px;
}

.customNormalScroll::-webkit-scrollbar-thumb {
  background-color: #b7b8bb;
  border-radius: 8px;
}

/* to remove the up and down arrow of number input field */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.marker {
  background-image: url('/public/images/location-pin.png');
  background-size: cover;
  width: 34px;
  height: 44px;
  /* border-radius: 50%; */
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 700px;
}
.mapboxgl-popup-content {
  padding: 15px !important;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 6px !important;
  cursor: pointer;
}
.event-title {
  color: rebeccapurple;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 10px;
}
.mapboxgl-popup-close-button {
  padding: 8px;
  outline: none;
  visibility: hidden;
}
.swiper-button-prev {
  /* color: black; */
  /* background-color: whitesmoke; */
  /* border-radius: 50%; */
  height: 15px !important;
  /* overflow: hidden; */
  width: 15px !important;
  /* opacity: 0.6;  */
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  opacity: 1;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  cursor: pointer;
}
.swiper-button-next {
  /* color: black; */
  /* background-color: whitesmoke; */
  /* border-radius: 50%; */
  height: 15px !important;
  /* overflow: hidden; */
  width: 15px !important;
  /* opacity: 0.6;  */
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 10px;
  opacity: 1;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
}
.swiper-button-next:hover {
  opacity: 1;
}
.swiper-button-next::after {
  color: black;
  visibility: hidden;
  /* height: 15px; */
  /* width: 15px; */
  /* background-color: whitesmoke;
  border-radius: 50%;
  height: 20px;
  width: 20px; */
}
.swiper-button-prev::after {
  color: black;
  visibility: hidden;
  /* height: 15px; */
  /* width: 15px; */
  /* background-color: whitesmoke;
  border-radius: 50%;
  height: 20px;
  width: 20px; */
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}
.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.7;
}
div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
